<!DOCTYPE html>
<html lang=“en”>
<head>
<meta charset=“UTF-8”>
<title>WeatherApp</title>
<link rel=“stylesheet” href=“https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css”>
</head>
<body>
    <center>
        <h1>Verloop Assignment-1</h1>
        <form method="post" action="{% url 'index' %}">
            {% csrf_token %}
            <label for="input_key">API Key*</label>
            <input type="text" name="input_key" id="input_key" placeholder="Enter API Key" required >
            <br> <br>
            <label for="input_city">City *</label>
            <input type="text" name="input_city" id="input_city" placeholder="Enter city name" required >
            <br> <br>
            <label for="input_flag">O/P Format *</label>
            <select id="input_flag" name="input_flag">
                <option value="json">JSON</option>
                <option value="banana">XML</option>
            </select>
            <br><br>
            <button type="submit">Submit</button>
        
        </form>

        {% if json_data %}
        <h2>API Data:</h2>
        <!-- <p>{json_data}</p> -->
        
            {% for item in json_data %}
                {{ item }}
            {% endfor %}
      
    {% endif %}
        <h3>Note: Output can also be seen on terminal</h3>
        </center>

</body>
</html>

